@import 'variables';


.container {
    padding: 15vh 5vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #131517, transparent), linear-gradient(to top, #131517c4, transparent), ;
}
