@import 'variables';

.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    padding: 15vh 5vw;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517c0, transparent), ;
}

@media only screen and (max-width: 880px) {
    .container {
        display: flex;
        min-height: 100vh;
        width: 100vw;
        padding: 10vh 5vw;
        background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517c0, transparent), ;
    }
}


.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.left {
    display: flex;
    flex: 4;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.right {
    flex: 8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media only screen and (max-width: 880px) {
    .right {
        flex: 12;
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.row {
    display: flex;
    width: 100%;
    gap: 2rem;
}

@media only screen and (max-width: 880px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 2rem;
    }
}


.boxRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0.5vw;
    cursor: pointer;
}

.boxRowWelcome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0vw;
    cursor: pointer;
}

@media only screen and (max-width: 880px) {
    .boxRowWelcome{
        width: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 1vh 0vw;
        cursor: pointer;
    }
}

.profileBox {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    border: 1.5px solid $secondary;
    border-radius: 10px;
}

.hr {
    height: 1px;
    background-color: $secondary;
}

@media only screen and (max-width: 880px) {
    .hr {
        height: 1px;
        display: none;
        background-color: $secondary;
    }
}

.hrbtm{
    display: none;
}

@media only screen and (max-width: 880px) {
    .hrbtm{
        display: flex;
        height: 1px;
        background-color: $secondary;
    }
}

.logout {
    background-color: $primary;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.profile {
    font-size: 2rem;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), $primary, $primary, rgb(255, 255, 255)) text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 880px) {
    .profile {
        font-size: 1.7rem;
        font-weight: 600;
        background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), $primary, $primary, rgb(255, 255, 255)) text;
        -webkit-text-fill-color: transparent;
    }
}

.welcome {
    font-size: 1.1rem;
}

.icon {
    font-size: 1.3rem;
}

.img {
    width: 15rem;
}


.rightBox {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 880px) {
    .rightBox {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 100%;
    }
}


.rightRow {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 880px) {
    .rightRow {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}

.rightLeft {
    flex: 4;
    display: flex;
    width: 100%;
}

.rightRight {
    flex: 8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 880px) {
    .rightRight {
        flex: 12;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}

.rightBoxRow{
    display: flex;
    // flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.placeholder {
   width: 100%;
}

.place{
    font-size: 0.8rem;
    color: gray;
}

.value{
    padding: 1rem 0.5rem;
    border: 1px solid $secondary;
    border-radius: 10px;
}

@media only screen and (max-width: 880px) {
    .value{
        padding: 1rem 0.2rem;
        border: 1px solid $secondary;
        border-radius: 10px;
    }
}

.user{
    font-size: 1rem;
}

.ticketRow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticketLeft{
    flex: 3;
}


.ticketRight{
    flex: 9;
}