@import 'variables';

.container {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 10vh 5vw 0;
    gap: 10vh;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517ec, transparent), ;
}

@media only screen and (max-width: 880px) {
    .container {
        // min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background: transparent;
        padding: 5vh 5vw 0vh;
        gap:5vh;
        background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517ec, transparent), ;
    }
}

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

@media only screen and (max-width: 880px) {
    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
}

.titleBox{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.featured{
    font-size: 2rem;
    background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), $primary, $primary, rgb(255, 255, 255)) text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

@media only screen and (max-width: 880px) {
    .featured{
        font-size: 1.5rem;
        background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), $primary, $primary, rgb(255, 255, 255)) text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
    }
}