@import 'variables';


.container {
    display: flex;
    align-items: center;
    // justify-content: center;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517ab, transparent), ;
}

.container::-webkit-scrollbar {
    display: none;
}

.leftIcon {
    font-size: 5rem;
}

.leftwrap {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517cc, transparent), ;
}

.rightwrap {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    right: 0;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #131517cc, transparent), ;
}

.sliderContainer {
    display: flex;
    width: 100%;
    gap: 1vw;
    width: max-content;
    position: relative;
    transform: translateX(0px);
    transition: all 1s ease;
}

.poster {
    max-width: 20vw;
    height: 20vw;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;

    // &:hover {
    //     max-width: 22vw;
    //     height: 22vw;
    //     z-index: 1;
    // }
}